<!DOCTYPE html>
<html lang="en">

<head>
    <title>Coderator</title>
    {{>header}}
    <link rel="stylesheet" href="../../css/home.css">
</head>

<body data-spy="scroll" data-target="#myScrollspy">

    {{>navbar}}
    <header
        style="background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7988accb-1d0c-44a1-a027-8cf718c2555b/d705y72-5837ac27-070f-49f9-8d49-82ee3e44b33b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc5ODhhY2NiLTFkMGMtNDRhMS1hMDI3LThjZjcxOGMyNTU1YlwvZDcwNXk3Mi01ODM3YWMyNy0wNzBmLTQ5ZjktOGQ0OS04MmVlM2U0NGIzM2IuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.v-tU4H8vJq6PLOhFjibfeB7grtpem2jpSGbFbNuUdMw');">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Coderator</h1>
                <p>Collaborate with your mates! <br> No matter how far you are from your team members, now you can
                    collaborate
                    and work with them at same place using Coderator.</p>
            </div>
        </div>
    </header>

    <section class="service-section" id="services">
        <div class="container">
            <h3>services</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-items">
                        <div class="icon">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </div>
                        <h4><a href="#"> Realtime collaboration</a></h4>
                        <p>Coderator is not just a code editor! Here you can collaborate with your fellow coder in
                            Realtime for better productivity.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-items">
                        <div class="icon">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </div>
                        <h4><a href="#">Language syntax support</a></h4>
                        <p>Coderator supports many programming languages syntax with many intellisence features for
                            almost every language to help you. </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-items">
                        <div class="icon">
                            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                        </div>
                        <h4><a href="#">Choose what suits your eyes</a></h4>
                        <p>Whether you are a dark theme lover or light theme lover, we have got you. Choose from a
                            variety of editor theme.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>