<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h3>Contact Us!</h3>
                <div class="gap">
                    <div class="col-sm-6 col-xs-12">
                        <span class="glyphicon glyphicon-earphone"></span>
                        <a href="#">+91 603-XXX-XXXX</a>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:pranjalpm9521@gmail.com">pranjalpm9521@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>